<%-include('./partials/header.ejs')-%>

 <link rel="stylesheet" href="\styles\product.css"> 

  <body>
   
    <% if(items.length> 0) { %>
      
      <div class="Filter shadow-lg">
        <a href="/category/veg/get?q=Veg"><button>Vegetabels</button></a>
        <a href="/category/fruits/get?q=Fruit"><button>Fruits</button></a>
        <a href="/category/dairy/get?q=Dairy"><button>Dairy</button></a>
        <a href="/category/non-veg/get?q=Non"><button>Non-veg</button></a>
      </div>
        <div class="container">
          <div class="row product">
            <div class="col-xl-2 custom">
              <div class="section">
                <ul class="list-group">
                  <a href="#">
                    <li class="list-group-item">
                     <h5>Refine Results</h5>
                    </li>
                  </a>
                  <a href="/category/veg/get?q=Veggies">
                    <li class="list-group-item">Vegetabels</li>
                  </a>
                  <a href="/category/fruits/get?q=Fruit">
                    <li class="list-group-item">Fruits</li>
                  </a>
                  <a href="/category/dairy/get?q=Dairy">
                    <li class="list-group-item">Dairy Products</li>
                  </a>
                  <a href="/category/non-veg/get?q=Non Veg">
                    <li class="list-group-item">Non-Veg</li>
                  </a>
                </ul>
              </div>
            </div>
            <div class="col-lg-12 col-xl-10">
              <div class="section-right-1  align=" right">
                <div class="row">

                  <% items.forEach(function(item) { %>
                    <div class="col-sm-6 col-lg-4">
                      <div class="card shadow-lg">
                        <a href="/category/product/item?q=<%= item.title %>"><img src="<%= item.img%>" alt=""
                            class="card-img-top" /></a>
                        <div class="card-body">
                          <h5 class="card-title text-truncate">
                            <%= item.title %>
                          </h5>
                          <p class="card-text">&#8377;<%= item.price %>
                          </p>
                          <button class="add-to-cart btn btn-primary Cart" value="<%= JSON.stringify(item) %>">Add to
                            cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                          <!-- <a href="#" class="btn btn-primary Cart">Add to cart </a> -->
                        </div>
                      </div>
                    </div>
                   
                  <% }) %>
                      <% } else { %>
                        
                        <div style="text-align:center;">
                          <img src="/pictures/item-not-found.gif
                          " alt="">
                          <h4 style="color: grey;"> Sorry, No item found for this search</h4>
                          <h5>Please Try Some of this search</h5>
                          <a href="/category/dairy/get?q=Dairy"><button class="btn btn-outline-success">Dairy</button></a>
                          <a href="/category/fruits/get?q=Fruit"><button
                              class="btn btn-outline-success">Fruits</button></a>
                          <a href="/category/veg/get?q=Veggies"><button
                             class="btn btn-outline-success">Vegetabels</button></a>
                          <a href="/category/non-veg/get?q=Non"><button
                              class="btn btn-outline-success">Non-veg</button></a>
                          <br>
                          <h5>Or Special offer for you</h5>
                          <a href="/category/product/item?q=Onion (500 gram)"><button
                              class="btn btn-outline-success">Offer</button></a>
                        </div>
                      <% } %>
              </div>
            </div>
            <div class="section-right-2">
                <div class="row">
                  <% if(items) { %>
                    <% items.forEach(function(item) { %>
                      <div class="col-sm-12 " >
                        <div class="card mb-3">
                          <div class="row g-0">
                            <div class="col-4">
                              <a href="/category/product/item?q=<%= item.title %>"
                                ><img src="<%= item.img%>" alt="" class="card-img-top"
                              /></a>
                            </div>
                            <div class="col-8">
                              <div class="card-body">
                                <h5 class="card-title "><%= item.title %></h5>
                                <p class="card-text">&#8377;<%= item.price %></p>
                                <a href="#" class="btn btn-primary Cart">Add to cart<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% }) %> 
                  <% } else { %>
                  <% } %>
                </div>
              </div>
          </div>
        </div>
      </div>
  </body>
  <footer>
    <div align=right>
      <%-include('./ChatBot/index.html')-%>
    </div>
  </footer>

  <script>
    let cartCounter = document.querySelector('#cart')

    function updateCart(product) {
      axios.post('/update-cart', product).then(res => {
        cartCounter.innerText = res.data.totalQty;
      }).catch(err => {
        console.log("Error")
      })
    }

    addToCart = document.querySelectorAll('.add-to-cart')
    addToCart.forEach(function (btn) {
      btn.addEventListener('click', () => {
        console.log(btn.value);
        let product = JSON.parse(btn.value)
        updateCart(product)
      })
    })
  </script>